<div class="container mt-4">
  <div class="filter-sort-toggle">
    <button class="btn btn-outline-light" id="toggle-filters">Filter & Sort</button>
  </div>

  <div id="filter-panel" class="filter-panel">
    <div class="filter-sort-bar">
      <%= form_with url: books_path, method: :get, local: true, class: 'form-inline' do %>
        <div class="form-group">
          <%= label_tag :search, 'Search by name', class: 'text-light' %>
          <%= text_field_tag :search, params[:search], class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :status, 'Filter by status', class: 'text-light' %>
          <%= select_tag :status, options_for_select([['All', ''], ['In', 'in'], ['Out', 'out']], params[:status]), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :author, 'Filter by author', class: 'text-light' %>
          <%= text_field_tag :author, params[:author], class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :sort, 'Sort by', class: 'text-light' %>
          <%= select_tag :sort, options_for_select([['Newest', 'created_at'], ['Name', 'name'], ['Author', 'author'], ['Likes', 'likes']], params[:sort]), class: 'form-control' %>
        </div>

        <%= submit_tag 'Apply', class: 'btn btn-outline-light' %>
      <% end %>
    </div>
  </div>

  <% if @books.any? %>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card book-card">
            <%= image_tag(book.image.url, class: 'card-img-top', alt: book.name) if book.image? %>
            <div class="card-body">
              <h5 class="card-title text-white"><%= book.name %></h5>
              <p class="card-text text-light"><%= book.description.truncate(100) %></p>
              <%= link_to 'View Book', book_path(book), class: 'btn btn-outline-light' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="pagination-links">
      <%= paginate @books %>
    </div>
  <% else %>
    <div class="no-books">
      <h3 class="text-white">No books found</h3>
    </div>
  <% end %>
</div>
