<div class="container mt-4">
  <% if @books.any? %>
    <div class="row">
      <% @books.each do |book| %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card book-card">
            <%= image_tag(book.image.url, class: 'card-img-top', alt: book.name) if book.image? %>
            <div class="card-body">
              <h5 class="card-title text-white"><%= book.name %></h5>
              <p class="card-text text-light"><%= book.description.truncate(100) %></p>
              <%= link_to 'View Book', book_path(book), class: 'btn btn-outline-light' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="pagination-links">
      <%= paginate @books %>
    </div>
  <% else %>
    <div class="no-books">
      <h3 class="text-white">No books found</h3>
    </div>
  <% end %>
</div>
